<div class="container mt-5">
    <div class="row g-4">
        {{#each notes as |note|}}
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">{{ note.title }}</span>
                </div>
                <div class="card-body">
                    {{ note.body }}
                </div>
                <div class="card-footer d-flex">
                        <a href="/edit/{{note._id}}" class="btn btn-secondary btn-sm">Editar</a>
                        <form action="/delete/{{note._id}}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger btn-sm" type="submit">Eliminar nota</button>
                        </form>
                        
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>